@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
a:hover{
    color: #fff;
    text-decoration: 0;
}
button{
    outline: 0;
}

.bars{
    position: fixed;
    top: 50;
    right: 40;
    z-index: 999999999;
    height: 39;
    color: #fff;
    font-size: 34px;
    display: none;
}

header{
    width:100%;
    height: 805px;
    position: relative;

    .header_image{
       width: 100%;
       height: 100%;
       object-fit: cover;
       filter: brightness(60%);
       position: absolute;
       z-index: 0;

    }
   
} 



nav{
    position: relative;

    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40 0;
        
    }

    ul{
        display: flex;
        transform: translateY(15px);

        li{
            margin: 0 23;
            list-style-type: none;

            a{
                color: #fff;
                font-family: 'Raleway', sans-serif;
                font-weight: 700;
                font-size: 15px;
                text-decoration: 0;
                transition: .4s;
            }
        }


        button{
            width: 155px;
            height: 40px;
            background: transparent;
            color: #fff;
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            border-radius: 4px;
            border: 2px solid white;
            transform: translateY(-7px);
            transition: .3s;
            font-size: 15px;
            outline: none;
            outline: none;
        }
        button:focus{
            outline: 0;
        }
        button:hover{
            color: #c7c7c7;
            border: 2px solid #c7c7c7;

        }
        a:hover{
            color: #c7c7c7;

        }
    }
   
}
.header_text{
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headet_text_main{
h1{
    font-size: 60px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
            font-weight: 700;
}
h4{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 32px;
}

.header_inputs{
    display: flex;
    margin-top: 80px;

    input{
        width: 570px;
        height: 60px;
        outline: 0;
        border: 0;
        padding: 0 25;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }
   

    .submit{
        background-color: #e7434e;
        color: #fff;
        width: 200px;
        height: 60px;
       border-bottom-right-radius: 5px;
       border-top-right-radius: 5px;
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
       transition: .4s;


       p{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
font-size: 14px;
margin: 33 0;
padding: 0 10;
       }



    }
   
}
.submit:hover{
    background: transparent;
    border: #fff 2px solid;
    color: #fff;
}
}

.header_footer{
    width: 100%;
    position: relative;
    height: 100px;
}

.header_bottom{
    width: 1200px;
    height: 135px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: -67.5;
    transform: translateX(-50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header_bottom_text{
    width: 100%;
    height: 100%;
    padding: 30 50;
    position: relative;
    text-align: center;
    h3{
        font-size: 30px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: #343434;

    }
    p{
        color: #717171;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
}

.header_bottom_text::after{
    content: '';
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 0;
    width: 100%;
    height: 60%;
    border-right: 1.3px #d4d4d4 solid;
}

.last_box::after{
    content: '';
    position: unset;
    width: 0;
    height: 0;
    border: 0;
}

.section1{
    height: auto;
    padding: 100 0;
}
.section1_header{
    text-align: center;
    h2{
        font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #343435;
    }
    p{
        font-size: 16px;
        color: #717171;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
    }
}

.section1_image_main{
    overflow-y: hidden;
    display: flex;
    width: 100%;
   height: auto;
    padding: 85 0 0 0;
}
.second_main{
    margin-top: -60px;
    gap: 30px;
}
.sec1_allbox{
    height: 360px;
    position: relative;
    border-radius: 5px;
img{

    width: 100%;
    height: 100%;
    filter: brightness(65%);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;



}
img{
    transition: .4s;
}
img:hover{
    filter: brightness(90%);
}









}
.sec1_box1{
    width: 770px;
    transition: 1.4s;
}
.sec1_box2{
    width:370px;
    margin-left: 30px;
    transition: 1.4s;
}
.sec1_box3{
    width:370px;
    transition: 1s;
}

.sec1_box1_animation{
    transform: translateX(-200px);
}
.sec1_box2_animation{
    transform: translateX(200px);
}
.sec1_box3_animation:nth-child(1){
transform: translateY(100px);
}

.sec1_box3_animation:nth-child(2){
    transform: translateY(140px);
    }

    .sec1_box3_animation:nth-child(3){
        transform: translateY(180px);
        }






.section2{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(70%);

    }

    .section2_text_main{
        position: relative;
        text-align: center;

        h1{
            font-size: 72px;
            font-family: 'Raleway',sans-serif;
            font-weight: bold;
            color: #fff;
        }
        h4{
            font-size: 25px;
            font-weight: 400;
            font-family: 'Open Sans',sans-serif;
            color: #fff;
        }
        button{
            margin-top: 100px;
            width: 320px;
            height: 60px;
            background-color: #e7434e;
            color: #fff;
            font-family: 'Raleway',sans-serif;
            font-weight: bold;
            font-size: 14;
            border: 0;
            border-radius: 5px;
            transition: .4s;
            outline: none;
        }
        button:hover{
            color: #e7434e;
            background-color: rgb(255, 245, 245);

        }
    }
}











.reaming_boats:hover{
    color: #e7434e;
    background-color: #fff;
}

.reaming_boats{
    transition: .9s;
    position: absolute;
    top: 30;
    left: 30;
    height: 40px;
    width: 80px;
    border-radius: 3px;
    color: #fff;
    background-color: #e7434e;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;



    p{
    transform: translateY(8px);
    padding: 0 8;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    }
    i{
        font-size: 15px;
    }
   
}


 .box_text{
    opacity: 1;
        position: absolute;
        bottom: 30;
        left: 30;
       
        h1{
            font-size: 33px;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            color: #fff;
        }
        p{
font-size: 20px;
font-family: 'Raleway', sans-serif;
font-weight: 400;
color: #fff;
line-height: 0.8;
        }
      
    }


    .box_text_animation,.reaming_boats_animation{
        opacity: 0;
    }


    .section1_image_main{
        overflow-x: hidden;
    }

    .section1_footer{
padding: 100 0 0 0;

button{
    display: block;
    margin: auto;
    width: 310px;
    height: 65px;
    border: 1px solid #bebebe;
    outline: 0;
    border-radius: 3px;
    font-size:14px;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    transition: .4s;
    background: transparent;
}
button:hover{
    background-color: #f3f2f2;
    color: #343434;
}


    }


.section3{
width: 100%;
padding: 100 0;

.section2_main{
    gap: 25px;
}


.sec2_box1{
    height: 340px;
    width: 575;
}

.sec2_animation{
    opacity: 0;
}


.box_text_info, .box_text_info div{
    display: flex;
    color: #fff;
    i{
        margin-right: 14px;
    }
    p{
        font-size: 16px;
        font-family: 'Open Sans',sans-serif;
        font-weight: 400;
    }
}

.box_text_info, .box_text_info div:nth-child(1){
    display: flex;
    margin-right: 30px;
}
button{
    display: block;
    margin: 100 auto 0 auto;
    width: 310px;
    height: 65px;
    border: 1px solid #bebebe;
    outline: 0;
    border-radius: 3px;
    font-size:14px;
    font-family: 'Raleway',sans-serif;
    font-weight: bold;
    transition: .4s;
    background: transparent;
}
button:hover{
    background-color: #f3f2f2;
    color: #343434;
}
}

.footer{
    padding: 50 0;
    background-color: #404040;
    width: 100%;
    height: 350;

    .footer_text_main{
        display: flex;
        gap: 120px;

        .footer_text{
            margin-top: 15px;
            h5{
                font-size: 16px;
                color: #ffffff;
                 font-weight: 700;
                 font-family: 'Raleway', sans-serif;
                 margin-bottom: 20px;

            }
            p{
                font-size: 13px;
                color: #ffffffce;
                 font-weight: 700;
                 font-family: 'Open Sans', sans-serif;

            }

        }

        .footer_input{
            
            h3{
                margin: 15.3 0;
                font-size: 16px;
                color: #ffffff;
                 font-weight: 700;
                 font-family: 'Raleway', sans-serif;
            }
            input{
                border: 0;
                outline: none;
                height: 45px;
                margin: 10 0 35 0;

      
            }
            input:nth-child(1){
                width: 250px;
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                padding: 20px;
                font-weight: 400;
                font-family: 'Open Sans', sans-serif;
            }

            input:nth-child(2){
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                width: 100px;
                background-color: #e7434e;
                color: #fff;
                font-weight: 400;
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
            }








            .flex{
                display: flex;
            }
        }

        .icons{
            display: flex;
            gap: 24px;

            div{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #717171;
                color: #fff;
                font-size: 16px;
            }
        }
    }

}











































@media screen and (max-width:1200px) {

    .header_bottom{
        width: 80%;
    }
    .header_bottom_text{
        padding: 30 30;
    }
    .footer{
        height: auto;
  

        .footer_text_main{
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 5;
        }
        .flex{
            display: flex;
            justify-content: center;
            align-items: center;
          }
    .footer_text{
        width: 40%;
        text-align: center;
    }
    .footer_input{
        width: 45%;
        text-align: center;
    }
    .icons{
        justify-content: center;
    }
}
}


@media screen and (max-width:990px) {


    .headet_text_main{


        h1{
            font-size: 50px;
            text-align: center;
        }
        h4{
            font-size: 30px;
        }
        .header_inputs{
            margin: 50 auto;
input{
    width: 70%;
}
.submit{
    width: 30%;
}
        }

    }


    .header_footer{
        display: none;
    }

    .section1_image_main{
        flex-wrap: wrap;
        .sec1_allbox{
            width: 100%;

            .sec1_box2_animation{
                opacity: 0;
            }
        }
        .sec1_box2{
            margin-left: 0;
            margin-top: 30px;
        }
        .sec1_box1_animation{
            transform: translateX(-100px);
        }
        .sec1_box1_animation{
            display: none;
        }
    }
    .sec1_box1_animation{
        transform: translateX(0px);
    }
    .sec1_box2_animation{
        transform: translateX(0px);
    }
    .sec1_box3_animation:nth-child(1){
    transform: translateY(0px);
    }
    
    .sec1_box3_animation:nth-child(2){
        transform: translateY(0px);
        }
    
        .sec1_box3_animation:nth-child(3){
            transform: translateY(0px);
            }
            .reaming_boats,.box_text{
                opacity: 1;
            }

.section2{
    .section2_text_main{
        h1{
            font-size: 47px;
        }
        h4{
            font-size: 20px;
        }
    }
}


.footer .footer_text_main .footer_text h5{
    font-size:19px;
}

.footer{

    .footer_text_main{
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

.footer_text{
    width: 100%;
    margin: 30 0;
   
}



.footer_input{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;


  
    .icons{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}




}


}



@media screen and (max-width:770px) {



    nav{
        background-color: #242424;
        position: fixed;
        width: 100%;
        z-index: 111111;

.nav-container{
    display: block;
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        transform: translateY(15px);
       
    }
}

         ul{
            text-align: center;
            display: none;
            li:nth-child(2){
                padding: 30 0 40 0;
            }
         }
    }
    .bars{
        display: block;
    }

    .headet_text_main{
        transform: translateY(100px);
    }
 
    .section2{
        .section2_text_main{
            h1{
                font-size: 32px;
            }
            h4{
                font-size: 12px;
            }
        }
    }



}
@media screen and (max-width:590px) {

    .header_text{
       
        .header_inputs{
            display: flex;
            justify-content: center;
        }
        .headet_text_main{
     
            input{
                width: 220px;
                font-size: 10px;
                height: 50;
            }
            .submit{
                width: 132px;
                padding: 10 4;
                height: 50;
                 p{
                    font-size: 13px;
                 }

            }
                    }
                    h1{
                        font-size: 32px;
                    }
                    h4{
                        font-size: 13;
                    }
            
                }






    }

